<app-team-filter (teamFilterChangedEmitter)="handleTeamFilterChanged($event)"></app-team-filter>
<button (click)="refreshTeamPerformances()">Refresh</button>


<br/> Performance Data last refreshed:
<span *ngIf="!!predictions_last_updated"> {{predictions_last_updated | date: 'EEE dd MMM, yyyy - HH:mm:ss' }} </span>
<span *ngIf="! !!predictions_last_updated"> Never </span>
<br/>
<table>
  <tr>
    <td> division</td>
    <td> gender</td>
    <td> team</td>
    <td> played</td>
    <td> win</td>
    <td> draw</td>
    <td> lose</td>
    <td> for</td>
    <td> against</td>
    <td> goal_difference</td>
    <td> points</td>

  </tr>
  <tr *ngFor="let teamPerformance of all_team_performances$ | async" [hidden]="!!filtered_team_performances">
    <td> {{ teamPerformance.division }}</td>
    <td> {{ teamPerformance.gender }}</td>
    <td> {{ teamPerformance.team }}</td>
    <td> {{ teamPerformance.played }}</td>
    <td> {{ teamPerformance.win }}</td>
    <td> {{ teamPerformance.draw }}</td>
    <td> {{ teamPerformance.lose }}</td>
    <td> {{ teamPerformance.for }}</td>
    <td> {{ teamPerformance.against }}</td>
    <td> {{ teamPerformance.goal_difference }}</td>
    <td> {{ teamPerformance.points }}</td>
  </tr>
  <tr *ngFor="let teamPerformance of filtered_team_performances">
    <td> {{ teamPerformance.division }}</td>
    <td> {{ teamPerformance.gender }}</td>
    <td> {{ teamPerformance.team }}</td>
    <td> {{ teamPerformance.played }}</td>
    <td> {{ teamPerformance.win }}</td>
    <td> {{ teamPerformance.draw }}</td>
    <td> {{ teamPerformance.lose }}</td>
    <td> {{ teamPerformance.for }}</td>
    <td> {{ teamPerformance.against }}</td>
    <td> {{ teamPerformance.goal_difference }}</td>
    <td> {{ teamPerformance.points }}</td>
  </tr>
</table>
<button (click)="getTeamPredictions()">Predict</button>

